* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding: 10px;
    background-color: #ffffff;
}

.logo_principal img {
    height: 100px;
}

.iconos {
    display: flex;
    gap: 40px;
    font-weight: bold;
}

.iconos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #222;
}

.iconos img {
    height: 28px;
    margin-bottom: 5px;
}

/* Registro/Login o Cerrar sesión */
.registrarse {
    display: flex;
    align-items: center;
    gap: 10px;
}

.registrarse img {
    height: 28px;
}

.registrarse a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

/* Contenido principal */
.container {
    height: 500px;
    background-color: #ff954e;
}

/* Footer */
footer {
    background-color: #ffffff;
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_footer img {
    height: 80px;
}

.atencion_al_cliente {
    text-align: right;
    font-size: 14px;
}

.atencion_al_cliente p:last-child {
    font-weight: bold;
}

/* Estilo para hover en iconos de navegación */
.iconos div {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.iconos div:hover {
    transform: scale(1.1);
}

.iconos div:hover p {
    color: #ff7922;
}

/* Estilo para hover en imagen */
.iconos div:hover img {
    filter: invert(57%) sepia(56%) saturate(3587%) hue-rotate(345deg) brightness(107%) contrast(101%);
    
}

/* Hover para enlaces de sesión */
.registrarse a {
    transition: color 0.3s ease;
}

.registrarse a:hover {
    color: #ff7922;
    cursor: pointer;
}

/* agranda imagen de usuario al pasar el mouse */
.registrarse img {
    transition: transform 0.3s ease;
}

.registrarse:hover img {
    transform: scale(1.11);
    filter: invert(57%) sepia(56%) saturate(3587%) hue-rotate(345deg) brightness(107%) contrast(101%);
    transition: transform 0.3s;
}
