* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding: 10px;
    background-color: #ffffff;
}

.logo_principal img {
    height: 100px;
}

.iconos {
    display: flex;
    gap: 40px;
    font-weight: bold;
}

.iconos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #222;
}

.iconos img {
    height: 28px;
    margin-bottom: 5px;
}

.headerDerecha{
    display: flex;
    flex-direction: row;
}

.headerDerecha img{
    height: 28px;
}

.headerDerecha a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.headerDerecha a {
    transition: color 0.3s ease;
}

.headerDerecha a:hover {
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.carrito{
    height: 50px;
    padding-right: 30px;
    align-items: center;
    display: flex;
    padding: 10px;
    margin-right: 5px;
}
.carrito a{
    
    background-color: #ff954e;
    padding: 5px;
    border-radius: 7px;
    box-shadow: #222 2px 2px 2px;
}
.carrito a:hover{
    background-color:#222;
    transition: 300ms;
    transform: scale(1.1);
}
.carrito a:hover img{
    filter: invert(57%) sepia(56%) saturate(3587%) hue-rotate(345deg) brightness(107%) contrast(101%);
}
.carrito img{
    height: 35px;
}
/* Registro/Login o Cerrar sesión */
.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ff954e;
    padding: 5px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    box-shadow: black 2px 2px 2px;
}
.usuario img {
    transition: transform 0.3s ease;
}

.usuario:hover img {
    transform: scale(1.11);
    filter: invert(99%) sepia(1%) saturate(508%) hue-rotate(194deg) brightness(119%) contrast(100%);
    transition: transform 0.3s;
}
.cerrarSesion{
    background-color: #ffc6a1;
    padding: 2px;
    padding-left: 5px;
    width: 50%;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    box-shadow: black 2px 2px 2px;
    border-top: black solid 1px;
}

.cerrarSesion:hover{
    background-color:#444;
    text-shadow: black 1px 1px 1px;
}

/* Contenido principal */
.container {
    height: 500px;
    background-color: #ff954e;
}

/* Footer */
footer {
    background-color: #ffffff;
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_footer img {
    height: 80px;
}

.atencion_al_cliente {
    text-align: right;
    font-size: 14px;
}

.atencion_al_cliente p:last-child {
    font-weight: bold;
}

/* Estilo para hover en iconos de navegación */
.iconos button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.iconos button{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.iconos button:hover {
    transform: scale(1.1);
}

.iconos button:hover p {
    color: #ff7922;
}

/* Estilo para hover en imagen */
.iconos button:hover img {
    filter: invert(57%) sepia(56%) saturate(3587%) hue-rotate(345deg) brightness(107%) contrast(101%);
    
}


/* agranda imagen de usuario al pasar el mouse */

.container{
    display: flex;
    flex-direction: column;
}
.formularioProductos{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
input[type="checkbox"] {
    display: none;
}
.producto{
    background-color: #ffdac2;
    color: black;
    border-radius: 7%/14%;
    height: 10vh;
    width: 10vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    transition: background-color 300ms;
}
.producto .nombreProducto{
    font-weight: bolder;
}
input[type="checkbox"] + label {
    display: inline-block;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="checkbox"]:checked + label {
    background-color: #fff9f5;
    color: rgb(36, 36, 36);
    box-shadow: #222 2px 2px 2px;
}
.producto:hover{
    background-color: rgb(36, 36, 36);
    color: #ffdac2;
    transition: background-color 300ms;
}

.container input[type="submit"] {
    padding: 13px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color:white;
    transition: 250ms;
}
.container input[type="submit"]:hover{
    background-color: white;
    color: #222;
    box-shadow: #222 2px 2px 2px;
    transition: 250ms;
}